body {font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(to right, rgba(245, 246, 252, 0.52), rgba(233, 19, 83, 0.73)),url('https://image.freepik.com/free-vector/abstract-creative-pink-wave-banner-white-background_1035-18537.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 640px;
    }
    .button-container{
        justify-content: center;
        text-align: center;
        transform: translateY(-50%);
    
    
    }
    button{
        width: 100px;
        height: 35px;
        margin-left: 30px;
        margin-right: 30px;
        outline: none;
        background: transparent;
        text-align: center;
        box-shadow: 1px 2px 2px grey;
        border-radius: 20px;
        border: 1px solid black;
        color: white;
    
    }
    button:hover{
        background-color: black;
    }